@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* === CSS VARIABLES === */
:root{
    --header-height: 3rem;
    /* === FONT WEIGHT === */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* === COLORS === */
    --dark-color: #141414;
    --dark-color-light: #8a8a8a;
    --dark-color-lighten: #f2f2f2;
    --white-color: #ffffff;
    /* === FONTS & TYPOGRAPHY === */
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .813rem;
    /* === MARGINS === */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 3.5rem;
    /* === Z-INDEX === */
    --z-fixed:100;   
}
/* === Header === */

 /* === Phone Screen === */
 @media screen and (min-width: 768px){
        :root{
            --big-font-size: 1.5rem;
            --bigger-font-size: 2rem;
            --biggest-font-size: 3rem;
            --normal-font-size: 1rem;
            --smaller-font-size: .875rem;
        }
}

    /* === BASE === */
*,::before,::after{
   box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6rem;
}

/*=== H1-h6 ===*/

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
}

ul{
    padding: 0;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}

img{
    width: 100%;
    height: auto;
    display: block;
}

    /* === CSS CLASSES === */

.section{
    padding: 5rem 0 2rem;
}
.section-title{
    padding: 1rem;
    position: relative;
    font-size: var(--big-font-size);
    margin: var(--mb-4);
    text-align: center;
    letter-spacing: .1rem;
}
.section-title::after{
    content: '';
    position: absolute;
    width: 56px;
    height: .18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}

    /* === LAYOUT === */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--dark-color-lighten);
}

    /* === NAV === */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* === Media for Nav === */
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}

.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__logo{
    font-weight: var(--font-bold);
}
.nav__toggle, .nav__shop{
    font-size: 1.3rem;
    cursor: pointer;
}
.bx{
    margin-left: .7rem;
}

/* === SHOW MENU === */

.show{
    left: 0;
}

/* === ACTIVE LINKS=== */
.active{
    position: relative;
}
.active::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: var(--dark-color);
    border-radius: 50%;
}

/* === ACTIVE LINKS=== */
.scroll-header{
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* === HOME === */
.home{
    background-color: rgb(82, 82, 237);
    overflow: hidden;
}
.home__container{
    height: calc(80vh - var(--header-height));
    padding: 1rem;
}
.home__header{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}
.home__shape{
    width: 220px;
    height: 200px;
    /* background-color: #141414;
    border-radius: 50%; */
}
.home__img{
    position: absolute;
    top: 1.5rem;
    max-width: initial;
    /* width: 275px;  */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.home__new{
    display: block;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: var(--mb-2);
    color: var(--white-color);
}
.home__title{
    font-size: 26px;
    font-weight: 900;
    color: white;
    margin-bottom: var(--mb-1);
}
.home__description{
    color: white;
    margin-bottom: var(--mb-1);
}

/* === BUTTONS === */
.button{
    display: inline-block;
    background-color: var(--dark-color);
    color: white;
    padding: 1rem 2rem;
    font-weight: var(--font-medium);
    border-radius: .1rem;
    transition: .3s;
}

.button:hover{
    transform: translateY(-.25rem);
}

/* === FEATURED === */
.featured__container{
    row-gap: 2rem;
    grid-template-columns: repeat(autofit,minmax(220px,1fr));
}
.sneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #dad7d7;
    border-radius: .5rem;
    transition: .3s;
}
.sneaker__sale{
    position: absolute;
    left: .5rem;
    background-color: var(--dark-color);
    color: white;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
    letter-spacing: .1rem;
}

/* media Query */
@media screen and (min-width:768px){
    body{
        margin: 0;
    }
    .section{
        padding: 7rem 0;
    }
    .section-title::after{
        width: 76px;
    }
    nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .home__container{
        height: 80vh;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
    }
    .home__header{
        order: 1;
    }
    .home__shape{
        left: 3;
        bottom: 0;
    }
    .home__data{
        padding-left: 50px;
    }
    .home__img{
        right: 3;
        bottom: 0;
    }
   
}
@media screen and (min-width:1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home__container{
        column-gap: 6rem;
    }
    .home__new{
        font-weight: 900;
        font-size: 2rem;
    }
}



@media screen and (min-width:1440px){
   
}
/* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlay-content {
    position: relative;
    top: 18%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  /* Close button */
  .overlay .closebtn {
    position: absolute;
    top: 90px;
    right: 45px;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  /* Style the search field */
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 70%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .overlay button {
    float: left;
    width: 20%;
    height: auto;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }